{% extends 'StemsPageBundle:Layout:' ~ page.layout.slug ~ '.html.twig' %}

{% import 'StemsCoreBundle:Macro:core.html.twig' as macros %}

{% block breadcrumbs %}<a href="{{ path('stems_front_user_account') }}">Account</a> › <a href="{{ path('stems_front_user_update_account') }}">Account Details</a>{% endblock %}

{% block dynamic %}
	<form class="full-form" method="post">
		{{ form_row(form.fullname) }}
		<input type="submit" value="Save Changes" class="form-button no-icon"/>
		{{ form_widget(form._token) }}
	</form>
{% endblock %}